* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;
    background-color: #0f172a;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px;
    background-color: #0f172a;
    color: #fff;
}

.logo img {
    height: 40px;
}

.nav {
    display: flex;
    gap: 24px;
}

.nav a.active-link {
    color: #38bdf8;
    font-weight: 700;
}

.nav span {
    cursor: pointer;
    padding: 6px 12px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

/* 
.nav span:hover {
    color: #38bdf8;
} */

/* .active-link {
    color: #38bdf8;
    font-weight: 700;
} */

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.nav span {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: center;
}

.nav span:hover {
    transform: scale(1.12);
    color:#da9e46 ;

}


.nav span {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* .nav span:hover {
  color: #38bdf8;
} */

.active-link {
    color: #38bdf8;
    background-color: #38bdf8;
    border-radius: 20%;
    font-weight: 700;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1001;
    }

    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        height: calc(100vh - 60px);
        width: 260px;
        background-color: #0f172a;

        flex-direction: column;
        gap: 12px;

        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav {
        display: flex;
        gap: 2px;
    }

    .nav.active {
        transform: translateX(0);
    }

    .nav span {
        padding: 12px 24px;
        font-size: 18px;
    }

    .nav span:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .active-link {
        color: #38bdf8;
        background-color: #38bdf8;
        border-radius: 0%;
        font-weight: 700;
    }
}